<div class="container">
  <div class="tree scroll" (mouseup)="onTreeMouseUp($event)">
    <app-tree [tree]="tree"
              (openPath)="onOpenPath($event)"
              (contextMenu)="onRightClickItemTree($event)"
              [isAddingItem]="isAddingItem"
              [addingItemData]="addingItemData"
              (cancelAddItem)="addItemDone()"
              (addItem)="onAddItem($event)"
              [isRenamingItem]="isRenamingItem"
              [renamingItemData]="renamingItemData"
              (cancelRenameItem)="renameItemDone()"
              (renameItem)="onRenameItem($event)"
              [openedPath]="openedPath"
              [folder]="folder"
    ></app-tree>

    <div class="item-manipulate-overlay" *ngIf="isAddingItem || isRenamingItem" (click)="manipulateItemDone()"></div>
  </div>

  <div class="content scroll">
    <app-content *ngIf="openedPath && openedPath.length > 0"
                 [path]="openedPath"
                 [folder]="folder"
                 [originalFolder]="originalFolder"
                 (change)="onContentChange()"
                 (contextMenu)="onContentRightClick($event)"
    ></app-content>
  </div>
</div>

<div class="status-bar">
  <div class="status-bar-item" *ngIf="isSaving">
    <mat-icon>save</mat-icon>
    Saving...
  </div>
</div>
