@import "../../_palette.styl"

:host
  display flex
  flex 1
  flex-direction column

.resizeable-panel
  display flex
  flex-direction row
  flex 1

  &.resizing
    cursor col-resize

.tree
  min-width 300px
  background-color $black
  overflow auto
  position relative

.resizer
  width 16px

  &:hover
    cursor col-resize

.content
  padding 8px
  flex 1
  overflow auto
  min-width 480px

.status-bar
  display flex
  height 24px
  font-size 14px
  padding 0 8px

  .status-bar-item
    .icon
      margin-right 4px

.item-manipulate-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color $darkBlack
  opacity 0.5
  z-index 20
