@import "../../_palette.styl"

:host
  color white
  padding 8px
  flex 1
  background-image url("../../../assets/logo.png")
  background-attachment fixed
  background-repeat no-repeat
  background-position center
  background-size 500px 125px

ul
  list-style none
  padding 0
  z-index 10

.folder-name
  color $blue
  cursor pointer
  margin-right 8px

.folder-path
  color rgba(204, 204, 204, 0.7)

h1
  padding 0
  margin 24px 0
  border none
  font-weight 400
  font-size 36px
  white-space nowrap

h2
  padding 0
  margin 8px 0
  border none
  font-weight 200
  font-size 28px
  white-space nowrap
