<div class="scroll">
  <div *ngFor="let folderItem of folder"
       class="field {{getStatus(folderItem.language)}}">
    <mat-form-field>
      <input matInput
             [placeholder]="getLanguageLabel(folderItem.language)"
             value="{{getValue(folderItem.language)}}"
             (keyup)="updateValue($event, folderItem.language)"
             (mouseup)="onMouseUp($event)">
    </mat-form-field>

    <app-translate-button [isTranslationEnabled]="isTranslationEnabled"
                          [isTranslating]="isTranslating"
                          (translate)="translateEmptyFields(folderItem.language)"
    ></app-translate-button>
  </div>
</div>

<div class="loading" *ngIf="isTranslating">
  <mat-spinner></mat-spinner>
</div>


<div class="errors" *ngIf="translateErrors && translateErrors.length > 0">
  <h5 class="mat-subheader">Errors occurred when translating</h5>
  <ul>
    <li *ngFor="let error of translateErrors"
        class="mat-caption">
      {{error}}
    </li>
  </ul>
</div>
