@import '~@angular/material/theming';
@import "../../_palette";

:host {
  min-width: 720px;
}

@mixin field-color($color) {
  color: $color;

  /deep/ label {
    color: $color !important;
  }

  /deep/ .mat-form-field-underline, /deep/ .mat-form-field-ripple {
    background-color: $color !important;
  }
}

.field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0 8px;
  height: 68px;

  mat-form-field {
    flex: 1;
  }

  &.new {
    @include field-color(mat-color($mat-green, A400));
  }

  &.changed {
    @include field-color(mat-color($mat-yellow, A400));
  }

  &.missing {
    @include field-color(mat-color($mat-red, A400));
  }
}

.errors {
  color: mat-color($mat-red, A400);
  flex: 1;
}

/deep/ cdk-virtual-scroll-viewport {
  flex: 1;

  //.cdk-virtual-scroll-content-wrapper {
  //  height: 100%;
  //}
}

.loading {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

mat-chip {
  font-size: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;
}

.menu-label {
  padding: 16px;
  cursor: default;
  user-select: none;
}

.viewport {
  height: 100%;
  width: 100%;
}
