@import "../../_palette.styl"

:host
  padding 8px
  display flex
  flex-direction column

.form-group

  label
    color inherit

  .form-control
    border-width 1px

  &.new
    .form-control
      border-color $green
    label
      color $green

  &.changed
    .form-control
      border-color $yellow
    label
      color $yellow

  &.missing
    .form-control
      border-color $red
    label
      color $red

.errors
  color $red
