<div class="tree-item-label {{tree}}"
     [class.selected]="isOpenedPath()"
     [class.hidden]="isRenamingItemPath()"
     *ngIf="label"
     [style.paddingLeft.px]="(level - 1) * 16"
     (click)="toggleOrOpen()"
     (mouseup)="onMouseUp($event)">

  <div class="caret-icon">
    <mat-icon *ngIf="hasChildren">{{isCollapsed ? 'arrow_right' : 'arrow_drop_down'}}</mat-icon>
  </div>

  <mat-icon *ngIf="!hasChildren" class="icon file-icon">insert_drive_file</mat-icon>
  <mat-icon *ngIf="hasChildren" class="icon folder-icon">{{isCollapsed ? 'folder' : 'folder_open'}}</mat-icon>

  <span [class.hidden]="isRenamingItemPath()" class="mat-body-1">{{label}}</span>

  <mat-chip-list>
    <mat-chip *ngIf="missingTranslations > 0" disableRipple="true" selectable="false">{{missingTranslations}}</mat-chip>
  </mat-chip-list>
</div>

<mat-form-field class="renaming-item-input"
                [class.hidden]="!isRenamingItemPath()"
                [style.paddingLeft.px]="level * 16 + 16">
  <input matInput
         #renameItemInput
         type="text"
         placeholder="Name"
         (keyup)="onRenamingItemNameChange($event)"
         [formControl]="renamingItemNameControl"
         [errorStateMatcher]="errorStateMatcher">
  <mat-error *ngIf="renamingItemNameControl.hasError('exists')">
    Already have an item with this name
  </mat-error>
</mat-form-field>

<mat-form-field class="adding-item-input"
                [class.hidden]="!isAddingItemPath()"
                [style.paddingLeft.px]="level * 16 + 32">
  <input matInput
         #addItemInput
         type="text"
         placeholder="Name"
         (keyup)="onAddingItemNameChange($event)"
         [formControl]="addingItemNameControl"
         [errorStateMatcher]="errorStateMatcher">
  <mat-error *ngIf="addingItemNameControl.hasError('exists')">
    Already have an item with this name
  </mat-error>
</mat-form-field>

<ul *ngIf="childrenKeys" [class.hidden]="isCollapsed">
  <li *ngFor="let key of childrenKeys">
    <app-tree [label]="key"
              [tree]="tree[key]"
              [parentTree]="tree"
              [level]="level + 1"
              [path]="path.concat(key)"
              [openedPath]="openedPath"
              (openPath)="onOpenPath($event)"
              (contextMenu)="onContextMenu($event)"
              [isAddingItem]="isAddingItem"
              [addingItemData]="addingItemData"
              (cancelAddItem)="onCancelAddItem()"
              (addItem)="onAddItem($event)"
              [isRenamingItem]="isRenamingItem"
              [renamingItemData]="renamingItemData"
              (cancelRenameItem)="onCancelRenameItem()"
              (renameItem)="onRenameItem($event)"
              [folder]="folder"
    ></app-tree>
  </li>
</ul>
