<div class="tree-item-label {{tree}}"
     [class.selected]="isOpenedPath()"
     *ngIf="label"
     [style.paddingLeft.px]="level * 16"
     (click)="toggleOrOpen()"
     (mouseup)="onMouseUp($event)">

  <div class="caret-icon">
    <i *ngIf="hasChildren" class="fas" [class.fa-caret-right]="isCollapsed" [class.fa-caret-down]="!isCollapsed"></i>
  </div>

  <i *ngIf="!hasChildren" class="icon fas fa-file"></i>
  <i *ngIf="hasChildren" class="icon fas" [class.fa-folder]="isCollapsed" [class.fa-folder-open]="!isCollapsed"></i>

  <span [class.hidden]="isRenamingItemPath()">{{label}}</span>

  <div class="renaming-item-input form-group"
       [class.hidden]="!isRenamingItemPath()">
    <input #renameItemInput
           type="text"
           class="form-control form-control-sm"
           [class.is-invalid]="!isValidRenamingItemName"
           [(ngModel)]="renamingItemName"
           (keyup)="onRenamingItemNameChange($event)">
    <div class="invalid-feedback">
      Already have an item with this name.
    </div>
  </div>

  <span *ngIf="missingTranslations > 0" class="badge badge-danger badge-pill ml-3">{{missingTranslations}}</span>
</div>

<div class="adding-item-input form-group"
     [class.hidden]="!isAddingItemPath()"
     [style.paddingLeft.px]="level * 16 + 32">
  <input #addItemInput
         type="text"
         class="form-control form-control-sm"
         [class.is-invalid]="!isValidAddingItemName"
         [(ngModel)]="addingItemName"
         (keyup)="onAddingItemNameChange($event)">
  <div class="invalid-feedback">
    Already have an item with this name.
  </div>
</div>

<ul *ngIf="hasChildren" [class.hidden]="isCollapsed">
  <li *ngFor="let key of childrenKeys">
    <app-tree [label]="key"
              [tree]="tree[key]"
              [parentTree]="tree"
              [level]="level + 1"
              [path]="path.concat(key)"
              [openedPath]="openedPath"
              (openPath)="onOpenPath($event)"
              (contextMenu)="onContextMenu($event)"
              [isAddingItem]="isAddingItem"
              [addingItemData]="addingItemData"
              (cancelAddItem)="onCancelAddItem()"
              (addItem)="onAddItem($event)"
              [isRenamingItem]="isRenamingItem"
              [renamingItemData]="renamingItemData"
              (cancelRenameItem)="onCancelRenameItem()"
              (renameItem)="onRenameItem($event)"
              [folder]="folder"
    ></app-tree>
  </li>
</ul>
