:host {
  flex: 1;
}

.head {
  display: flex;
}

.title {
  text-align: center;
  flex: 1;
}

.form-container {
  display: flex;
  justify-content: center;

  form {
    width: 50%;

    mat-form-field {
      width: 100%;
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 8px;

  > * {
    margin: 0 4px;
  }
}
