@import "../../_palette.styl"

:host
  flex 1

.head
  display flex

.back-button
  background-color $lightBlack
  color white
  width 96px
  height 48px
  z-index 90

  .icon
    margin-right 4px

.title
  text-align center
  flex 1
