<div class="head">
  <h2 class="title mat-display-1">Settings</h2>
</div>

<div class="form-container">
  <form [formGroup]="settings" (ngSubmit)="saveSettings($event)">
    <mat-form-field>
      <mat-label>Google Translate™ API Key</mat-label>
      <input matInput formControlName="googleTranslateApiKey">
      <mat-hint>
        <app-remote-link [href]="translateApiKeyLink">
          {{translateApiKeyLink}}
        </app-remote-link>
      </mat-hint>
    </mat-form-field>
    <div class="actions">
      <button mat-button
              color="primary"
              type="reset"
              (click)="onCancel($event)">
        Cancel
      </button>

      <button mat-raised-button color="primary" type="submit">
        Save
      </button>
    </div>
  </form>
</div>
