$black = #222222
$lightBlack = $black + 20%
$darkBlack = $black - 20%
$yellow = #E5B122
$green = #29CC52
$red = #ff0000
$blue = #007acc

$background-color = #1e1e1e
$input-label-color = #d4d4d4
$input-background-color = #292929
$input-color = #cccccc
