.Tree {
  //margin-left: -8px;

  &.Collapsed {
    .Children {
      height: 0;
    }
  }
}

.Label {
  user-select: none;
  cursor: pointer;
  padding: 8px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.Opened {
    background: #f0f2f5;
    //background: rgba(0, 0, 0, .65);
  }

  &.New {
    color: #52c41a;
  }
  &.Changed {
    color: #faad14;
  }
  &.Missing {
    color: #f5222d;
  }
}

.Children {
  overflow: hidden;
}

.CaretIcon, .FileIcon {
  display: inline-block;
  padding-right: 8px;
  width: 22px;
}

.File {
}

.InputContainer {
  width: 90%;
  margin: 8px 8px 0 16px;

  :global .ant-form-item {
    margin-bottom: 12px;

    .ant-form-explain {
      position: absolute;
    }
  }
}
