.Tree {
  display: inline-block;
  position: relative;
  width: 100%;

  &.Collapsed {
    .Children {
      display: none;
    }
  }
}

.LabelContainer {
  user-select: none;
  cursor: pointer;
  padding: 8px;
  display: flex;

  //white-space: nowrap;
  //text-overflow: ellipsis;
  //overflow: hidden;

  &.Opened {
    background: #f0f2f5;
  }

  &.New {
    color: #52c41a;
  }
  &.Changed {
    color: #faad14;
  }
  &.Missing {
    color: #f5222d;
  }
}

.Children {
  //overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
}

.Hidden {
  display: none;
}

.CaretIcon, .FileIcon {
  display: inline-block;
  padding-right: 8px;
  width: 22px;
}

.File {
}

.InputContainer {
  position: relative;
  width: 90%;
  margin: 8px 8px 0 16px;
  z-index: 11;

  :global .ant-form-item {
    margin-bottom: 12px;

    .ant-form-explain {
      position: absolute;
    }
  }
}

.Label {
  margin: 0 8px;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Badge {
  min-width: 20px;
  height: 20px;
  padding: 0 8px;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
  background: #f5222d;
  border-radius: 10px;
}
