html, body, #root, #root > div {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.ant-layout {
  background-image: url("./assets/logo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px 125px;
  background-blend-mode: color-burn;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.ant-tooltip {
  max-width: initial;
}


*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .4);
}
