@import "./app/_palette";
@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);


html, body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $background-color;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

app-root {
  display: flex;
  flex: 1;

  -webkit-user-select: none;
  -webkit-app-region: drag;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1, h2 {
  color: #cccccc;
}

.scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  &::-webkit-scrollbar-track, &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $lightBlack;
    opacity: .8;
  }
}
