.Card {
  margin: 8px;

  > div {
    padding: 8px 24px;
  }

  :global {
    .has-success {
      .ant-input, .ant-input:hover {
        border-color: #52c41a;
        box-shadow: 0 0 0 2px rgba(82, 196, 26, 0.2);
      }
    }
  }
}

.TranslateFieldButton {
  margin-left: 16px;
}
