.Container {
}

.Sidebar {
  > div {
    display: flex;
    flex-direction: column;
  }
}

.NoScroll {
  overflow: hidden;
}

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background: rgba(0, 0, 0, .65);
}

.Search {
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.Footer {
  padding: 4px;
  height: 28px;
  flex: initial;
  display: flex;
  flex-direction: row;

  &:before {
    content: ' ';
    height: 28px;
  }

  :global {
    .ant-spin {
      display: flex;
      flex-direction: row;

      .ant-spin-text {
        margin-left: 8px;
      }
    }
  }
}

.ContentContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
